@model Tuteexy.Models.ClassRoomStudent

@if (Model != null)
{

<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="MyHomeworks" asp-action="Homework">
        <span class="fas fa-envelope-open-text"></span>
        My Homeworks
    </a>
</li>
<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="MyClassworks" asp-action="Classwork">
        <span class="fas fa-layer-group"></span>
        My Classworks
    </a>
</li>
<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="MySchool" asp-action="ClassNotices">
        <span class="far fa-sticky-note"></span>
        My Class Notices
    </a>
</li>
<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="MySchool" asp-action="SchoolNotices">
        <span class="fas fa-clipboard-list"></span>
        My School Notices
    </a>
</li>
<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="MySchool" asp-action="ClassRoutines">
        <span class="fas fa-calendar-alt"></span>
        My Class Routine
    </a>
</li>
<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="MySchool" asp-action="Holidays">
        <span class="fas fa-fan"></span>
        My School Holidays
    </a>
</li>}