@model IEnumerable<Tuteexy.Models.ShortStory>
@{ ViewData["Title"] = "My Stories"; }

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class=" col-7">
                            <h5 class="card-title">My Stories</h5>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-success w-100" asp-area="Hub" asp-controller="ShortStories" asp-action="Upsert"><span class="fas fa-plus-circle"></span> New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-columns">
    @if (Model != null)
    {
        foreach (ShortStory item in Model)
        {
            var tmp = item.IsApproved == true ? "Approved" : "Not Approved";
<div class="card bg-Alabaster">
    <img src="/images/stories/@item.ImageUrl" class="card-img-top" alt="Storydrop">
    <div class="card-body">


        <p class="card-text">@item.Title</p>
        <p class="card-text">
            <small class="text-muted">Status : @tmp,</small>
            <small class="text-muted"> Last updated at @item.SubmittedDate</small>
        </p>

        <div class="btn-group">

            <a class="btn btn-info" href="/Hub/ShortStories/Details/@item.ShortStoryID" data-toggle="tooltip" data-placement="top" title="Details">
                <i class="fas fa-check-square"></i>

            </a>
            <a class="btn btn-primary" href="/Hub/ShortStories/Upsert/@item.ShortStoryID" data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="fas fa-edit"></i>

            </a>
            <a class="btn btn-danger" onclick=Delete("/Hub/ShortStories/Delete/@item.ShortStoryID") data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="fas fa-trash-alt"></i>

            </a>

        </div>
    </div>
</div>}
            }
</div>


<script>
    function Delete(url) {
        swal({
            title: "Are you sure you want to Delete?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            location.reload();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>