@model Tuteexy.Models.ViewModels.SchoolNoticeVM

@{
    var title = "Create School Notice";
}

@section Scripts {
    <partial name="_tinymceScriptPartial" />
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            @if (Model.SchoolNotice.SchoolNoticeID != 0)
            {
                //edit
                title = "Edit Notice";
            }
            @title
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" autocomplete="off" asp-area="Lms" asp-controller="SchoolNotices" asp-action="Upsert">
            <input type="hidden" asp-for="SchoolNotice.SchoolNoticeID" />
            <input type="hidden" asp-for="SchoolNotice.SchoolID" />

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="SchoolNotice.Title">Title</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" asp-for="SchoolNotice.Title">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="SchoolNotice.Description">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="SchoolNotice.Description"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="SchoolNotice.ScheduleDateTime">Schedule Date</label>
                <div class="col-sm-10">
                    <input id="datepicker" class="form-control" type="date" asp-for="SchoolNotice.ScheduleDateTime">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="ScheduleTime">Schedule Time</label>
                <div class="col-sm-10">
                    <input id="datepicker" class="form-control" type="time" asp-format="{0:HH:mm}" asp-for="ScheduleTime">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2 col-form-label" asp-for="SchoolNotice.isPined">Pinned to top?</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="SchoolNotice.isPined">
                    </div>
                </div>
            </div>


            <div class="btn-group" role="group" aria-label="Basic example">
                @if (Model.SchoolNotice.SchoolNoticeID != 0)
                {
                <button type="submit" class="btn btn-success" asp-route-id="@Model.SchoolNotice.SchoolNoticeID"> <span class="fas fa-save"></span>
                Update</button>
                }
                else
                {
            <button type="submit" class="btn btn-success"> <span class="fas fa-save"></span>
                Create</button>
                }
                <button class="btn btn-light" asp-area="Lms" asp-controller="Schools" asp-action="Index">
                <span class="fas fa-undo"></span>
                Cancel</button>
            </div>
        </form>
    </div>
</div>

