@page
@model AccessDeniedModel
@{ ViewData["Title"] = "Access denied"; }

<section class="hero is-white is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title is-1">
                        @ViewData["Title"]
                    </h1>
                    <h3 class="subtitle is-3 has-text-danger">
                        You do not have access to this resource.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>