<footer class="footer footer-black footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="http://wwww.facebook.com/tuteexy" target="_blank">
                            <span class="fab fa-facebook-f fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/groups/tuteexy/" target="_blank">
                            <span class="fab fa-facebook fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://wwww.youtube.com/tuteexy" target="_blank">
                            <span class="fab fa-youtube fa-2x"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    ©
                    <script>
                                        document.write(new Date().getFullYear())
                    </script>, Thanks for being a part of the future with Tuteexy <span style="color: #ff0000;"><i class="fas fa-user-astronaut"></i> 💖</span>
                </span>
            </div>
        </div>
    </div>
</footer>