<footer class="footer footer-black footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="http://wwww.facebook.com/tuteexy" target="_blank">
                            <span class="fab fa-facebook fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://wwww.twitter.com/tuteexy" target="_blank">
                            <span class="fab fa-twitter fa-2x"></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://wwww.youtube.com/tuteexy" target="_blank">
                            <span class="fab fa-youtube fa-2x"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    ©
                    <script>
                                        document.write(new Date().getFullYear())
                    </script>, Built with your best interests at heart <i class="fa fa-heart heart"></i> by Tuteexy
                </span>
            </div>
        </div>
    </div>
</footer>