<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N6PGPD8LSJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-N6PGPD8LSJ');
    </script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Tuteexy - For Student, Develop by Student</title>
<link rel="icon"
      href="/Images/pencil/logo.jpg"
      sizes="any"
      type="image/svg+xml" />

<link rel="stylesheet" href="~/css/grid.css" />
<link rel="stylesheet" href="~/css/helpers.css" />
<link rel="stylesheet" href="~/css/mystyles.css" />


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
