<div class="col-12 p-0 m-0">
    <div class="card">
        <div class="card-body text-center">
            <button data-toggle="modal" data-target="#exampleModal1" class="btn btn-link">
                <img src="~/images/ads/learnQuran.jpg" class="img-thumbnail">
            </button>
            @*<p>
                     href="https://drive.google.com/file/d/1XEVBzfRO-l4WhbYLytW8q0clcAxMZz5c/view?usp=sharing">
                    ঢাকা সিটিতে ক্যাশ অন হোম ডেলিভারী
                    ****************************************
                    ২৪ ঘন্টায় ঢাকা সিটি কর্পোরেশন ও ভাটারা থানা এলাকার মধ্যে 📷 📷 রাইডারের মাধ্যমে 📷 নুরানী পদ্ধতিতে ২৭ ঘন্টায় কুরআন শিক্ষা বইটি ক্যাশ অন ডেলিভারি নিতে চান,
                    যারা বই হাতে পেয়ে মূল্য পরিশোধ করতে চান,
                    তারা নাম+ ঠিকানা + মোবাইল নাম্বার সহ কমেন্ট করুন অথবা এই নাম্বারে 01711175330 সরাসরি ফোন করুন
                    প্রতি বই মাত্র ৩৫০/- টাকায় ক্যাশ অন হোম ডেলিভারি নিন ২৪ ঘন্টার মধ্যে বই হাতে পান।
                </p>*@

        </div>
    </div>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- tuteexySqure -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9245786985241622"
     data-ad-slot="9867234318"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>



<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">নুরানী পদ্ধতিতে ২৭ ঘন্টায় কুরআন শিক্ষা</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="~/images/ads/learnQuran.jpg" class="img-thumbnail" style="height: 300px; float: right; margin: 10px;">
                <p>
                    আসসালামু আলাইকুম।
                </p>
                <p>
                    ১. এই ফাইলটি ৮৬৬ এমবি। ডাউনলোড করতে ১০/১২ মিনিট সময় লাগবে। ধৈর্য ধরে ডাউনলোড করুন। এতে কোনো ভাইরাস নাই। নিশ্চিন্তে ডাউনলোড করুন। দেখতে পিডিএফ ফাইল। কিন্তু এই পিডিএফ ফাইলেই সাউন্ড আছে।
                </p>
                <p>
                    ২. আপনার ল্যাপটপে যদি এডোব একরোবেট রিডার না থাকে তাহলে এই সফটওয়্যারটি চলবে না।
                </p>
                <p>
                    ৩. সেক্ষেত্রে নিচে দেয়া লিংক থেকে এডোব একরোবেট রিডার সফটওয়্যারটি প্রথমে ডাউনলোড করে নিন।
                    <a href="https://get.adobe.com/uk/reader">https://get.adobe.com/uk/reader</a>
                </p>
                <p>
                    ৪. সফটওয়্যারটি কপি করে ডেক্সটপে নিয়ে নিন। এটাতে ডাবল ক্লিক করুন। বামের মেনু থেকে 1st Hour এ যান।
                </p>
                <p>
                    ৫. ফাষ্ট আউয়ার ওপেন হয়ে যাবে। এবার যে কোন সবুজ আরবি হরফে ক্লিক করুন।
                </p>
                <p>
                    ৬. এতে সাউন্ড হবে। যদি এতে সাউন্ড না হয় তাহলে উপরে 'Option' নামে একটি মেনু দেখতে পাবেন। এখানে ক্লিক করুন।
                </p>
                <p>
                    ৭. এতে ক্লিক করলে আরও দুটি মেনু ওপেন হবে এর মধ্যে দ্বিতীয় মেনুটি যাতে লেখা থাকবে 'Trust this document always' সেটা সিলেক্ট করুন।
                </p>
                <p>
                    ৮. এরপর যে কোন সবুজ আরবি হরফে ক্লিক করুন। এখন ইনশাআল্লাহ সাউন্ড শুনতে পাবেন।
                </p>
                <hr />
                <p>
                    ঢাকা সিটিতে ক্যাশ অন হোম ডেলিভারী
                </p>
                <p>

                    ২৪ ঘন্টায় ঢাকা সিটি কর্পোরেশন ও ভাটারা থানা এলাকার মধ্যে রাইডারের মাধ্যমে নুরানী পদ্ধতিতে ২৭ ঘন্টায় কুরআন শিক্ষা বইটি ক্যাশ অন ডেলিভারি নিতে চান,
                    বই হাতে পেয়ে মূল্য পরিশোধ করতে চান,
                    নাম+ ঠিকানা + মোবাইল নাম্বার সহ এই নাম্বারে 01711175330 সরাসরি ফোন করুন
                    প্রতি বই মাত্র ৩৫০/- টাকায় ক্যাশ অন হোম ডেলিভারি নিন ২৪ ঘন্টার মধ্যে বই হাতে পান।
                </p>
                <p>
                    প্রকৌশলী মইনুল হোসেন। হেল্প লাইনঃ ০১৭৭৭-৬৪১৫৫৮। E-mail: sujon0127@gmail.com
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" class="btn btn-primary" href="https://drive.google.com/file/d/1XEVBzfRO-l4WhbYLytW8q0clcAxMZz5c/view?usp=sharing">Download</a>
            </div>
        </div>
    </div>
</div>