@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    if (Model.StartsWith("Error") == true)
    {
    <div class="card bg-danger">
        <div class="card-body">
            <span class="card-title"> @Model </span>
        </div>
    </div>
    }
    else
    {
<div class="card bg-success">
    <div class="card-body">
        <span class="card-tile"> @Model </span>
    </div>
</div>
    }



}