<nav id="sidebar-wrapper">
    <div class="menu-overlay active"></div>
    <ul class="sidebar-nav">
        <li class="sidebar-title">Discussions</li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="ShortStories" asp-action="Index">
                <span class="fas fa-pencil"></span>
                Pencil
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Questions" asp-action="Index">
                <span class="fas fa-question-circle"></span>
                My Questions
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="UnderConstruction">
                <span class="fas fa-video"></span>
                Live Meeting
            </a>
        </li>
        <li class="sidebar-title">Supplementary</li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="UnderConstruction">
                <span class="fas fa-chalkboard-teacher"></span>
                Courses
            </a>
        </li>
        <li>
        <li class="sidebar-title">School</li>
        @*<li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="UnderConstruction">
                <span class="fas fa-tachometer-alt"></span>
                School Dashboard
            </a>
        </li>*@
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="Homeworks">
                <span class="fas fa-envelope-open-text"></span>
                My Homeworks
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="Classworks">
                <span class="fas fa-layer-group"></span>
                My Classworks
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="ClassNotices">
                <span class="far fa-sticky-note"></span>
                My Class Notices
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen"  asp-area="User" asp-controller="Dashboard" asp-action="GeneralNotices">
                <span class="fas fa-clipboard-list"></span>
                My School Notices
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen"  asp-area="User" asp-controller="Dashboard" asp-action="ClassRoutines">
                <span class="fas fa-calendar-alt"></span>
                My Class Routine
            </a>
        </li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="Dashboard" asp-action="Holidays">
                <span class="fas fa-fan"></span>
                My School Holidays
            </a>
        </li>
        @*<li>
            <a class="txt-tuteegreen" asp-area="Lms" asp-controller="Schools" asp-action="Index">
                <span class="fas fa-tasks"></span>
                Manage School
            </a>
        </li>*@
        <li class="sidebar-title">Services</li>
        <li>
            <a class="txt-tuteegreen" asp-area="User" asp-controller="TutorJobs" asp-action="Index">
                <span class="fas fa-address-card"></span>
                Tutor Job
            </a>
        </li>

    </ul>



</nav>