@model ErrorViewModel
@using Tuteexy.Models.ViewModels
@{ ViewData["Title"] = "Error"; }

<section class="hero is-danger  is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="notification is-danger">
                        <h1 class="title is-1">
                            @ViewData["Title"]
                        </h1>
                        <h3 class="subtitle is-3 has-text-black">
                            An error occurred while processing your request.
                        </h3>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>