@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Tuteexy.Utility


@if (SignInManager.IsSignedIn(User))
{

                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Front" })">
                    <button type="submit" class="button is-danger">
                        <span class="icon is-small">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        
                    </button>
                </form>}