@*@model IEnumerable<Tuteexy.Models.ApplicationUser>*@

<div class="breadcrumb is-small is-white" aria-label="breadcrumbs">
    <ul>
        <li>
            <a asp-area="Ironman"
               asp-controller="Users"
               asp-action="index"><strong>Users</strong></a>
        </li>
        <li class="is-active"><a href="#" class="has-text-white" aria-current="page"><strong>Index</strong></a></li>
    </ul>
</div>
<!-- Main container -->
<div class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-white">
                <strong>User's List</strong>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">

    </div>
</div>

<div class="table-container pb-0 mb-0">
    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th><abbr title="Name">Name</abbr></th>
                <th><abbr title="Email">E</abbr></th>
                <th><abbr title="Phone">P</abbr></th>
                <th><abbr title="Company">C</abbr></th>
                <th><abbr title="Role">R</abbr></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><abbr title="Name">Name</abbr></th>
                <th><abbr title="Email">E</abbr></th>
                <th><abbr title="Phone">P</abbr></th>
                <th><abbr title="Company">C</abbr></th>
                <th><abbr title="Role">R</abbr></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>

@section Scripts{

    <script src="~/js/user.js"></script>
}