@model Tuteexy.Models.School

@if (Model != null)
{

    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="ClassRooms" asp-action="Index">
            <span class="fas fa-warehouse"></span>
            Class Rooms
        </a>
    </li>
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="SchoolTeachers" asp-action="Index">
            <span class="fas fa-book-reader"></span>
            Teachers
        </a>
    </li>
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="Subjects" asp-action="Index">
            <span class="fas fa-briefcase"></span>
            Subjects
        </a>
    </li>
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="SchoolNotices" asp-action="Index">
            <span class="fas fa-briefcase"></span>
            School Notices
        </a>
    </li>
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="ClassRoomNotices" asp-action="Index">
            <span class="fas fa-briefcase"></span>
            Class Notices
        </a>
    </li>
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="Holidays" asp-action="Index">
            <span class="fas fa-briefcase"></span>
            Holidays
        </a>
    </li>
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="ClassRout" asp-action="Index">
            <span class="fas fa-briefcase"></span>
            Class Routine
        </a>
    </li>
}

