@model Tuteexy.Models.School

@if (Model != null)
{

    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="ClassRooms" asp-action="Index">
            <span class="fas fa-warehouse"></span>
            Class Rooms
        </a>
    </li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen" asp-area="Lms" asp-controller="SchoolTeachers" asp-action="Index">
            <span class="fas fa-book-reader"></span>
            Teachers
        </a>
    </li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="Subjects" asp-action="Index">
            <span class="fas fa-cookie"></span>
            Subjects
        </a>
    </li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="SchoolNotices" asp-action="Index">
            <span class="fas fa-box-open"></span>
            School Notices
        </a>
    </li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="ClassRoomNotices" asp-action="Index">
            <span class="fas fa-clipboard-list"></span>
            Class Notices
        </a>
    </li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="Holidays" asp-action="Index">
            <span class="fas fa-fan"></span>
            Holidays
        </a>
    </li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="ClassRout" asp-action="Index">
            <span class="fas fa-calendar-alt"></span>
            Class Routine
        </a>
    </li>
}

