@model Tuteexy.Models.SchoolTeacher

@if (Model!=null)
{
    
    <li>
        <a class="nav-link" asp-area="Lms" asp-controller="Homeworks" asp-action="Index">
            <span class="fas fa-warehouse"></span>
            Homeworks
        </a>
    </li>
       
   

}

