


<section class="hero is-white is-fullheight">
    <div class="hero-body pt-1">
        <div class="container">
            <div class="columns">
                <div class="column is-7">

                    <div class="columns is-multiline ">
                        <div class="column is-12">
                            <a asp-area="Customer" asp-controller="home" asp-action="index">
                                <img src="~/images/core/logo.jpg" width="200">
                            </a>
                        </div>


                        <div class="column is-12">

                            <a asp-area="Customer" asp-controller="home" asp-action="index">
                                <img src="~/images/core/cover.jpg" style="width:100%">
                            </a>


                        </div>
                    </div>



                </div>
                <div class="column is-4 is-offset-1">
                    <div class="columns is-multiline">
                        <div class="column is-12">
                            <partial name="_loginPartial" />
                        </div>
                        <div class="column is-12 py-0 my-0">
                            <div class="has-text-centered"><strong>- - - OR - - -</strong></div>
                        </div>
                        <div class="column is-12">
                            <partial name="_RegisterPartial" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="hero-foot center ">
        <div id="grid" style="width: 768px;">
            <div id="a" class="center-column">
                <p class="has-text-centered has-text-black">
                    ​You love simplicity. So do we. Let’s grow together.
                </p>
            </div>
            <div id="b" class="center-column">
                <p class="title has-text-black"><span class="is-size-5">+</span>24/7<span class="is-size-5"></span></p>
                <p class="subtitle is-7 has-text-black">Support</p>
            </div>
            <div id="c" class="center-column" style="border-left: 1px solid gray;">
                <p class="title has-text-black"><span class="is-size-5">+</span>0<span class="is-size-5">USD</span></p>
                <p class="subtitle is-7 has-text-black">Maintanence Cost</p>
            </div>
            <div id="d" class="center-column" style="border-left: 1px solid gray;">
                <p class="title has-text-black"><span class="is-size-5">+</span>0<span class="is-size-5">USD</span></p>
                <p class="subtitle is-7 has-text-black">Licence Fee</p>
            </div>
            @*<div id="e" class="center-column">
                    <a class="button is-success is-rounded has-text-weight-bold has-text-white is-fullwidth" asp-area="Identity" asp-page="/Account/Register">
                        <span>Start Free</span>
                    </a>
                </div>*@
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
