@{
    ViewData["Title"] = "For Student, Develop by Student";
}

<div class="container px-0 bg-white" style="margin-top:80px">
    <div class="row px-0 mx-0">
        <div class="col-md-8 col-sm-12 px-0">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="~/images/core/front.jpg" class="img-fluid" />
                    <h3>
                        All your school management
                        and learning problems solved
                        faster and better in a snap 👆
                    </h3>
                    <h1 class="text-success">Try it free</h1>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-12 px-0 text-center">

            <div class="card border-0 pb-0 mb-0">
                <div class="card-body">
                    <partial name="_loginPartial" />
                </div>
            </div>
            <h5 class="py-0 my-0">
                <strong> - - - OR - - - </strong>
            </h5>
            <div class="card border-0 pt-0 mt-0">
                <div class="card-body">
                    <partial name="_registerPartial" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container px-0 bg-white py-4" style="margin-top:20px">

    <div class="row row-cols-sm-5 row-cols-2 text-center justify-content-center">
        <div class="col">
            <div class="counter">
                <i class="fas fa-user-alt fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="3184" data-speed="1500"></h2>
                <p class="count-text ">Registered Users</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fas fa-school fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="2" data-speed="1500"></h2>
                <p class="count-text ">Happy Schools</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fas fa-book-reader fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="461" data-speed="1500"></h2>
                <p class="count-text ">Home work given</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fas fa-chalkboard-teacher fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="34" data-speed="1500"></h2>
                <p class="count-text ">Active Teaches</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fas fa-question-circle fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="2386" data-speed="1500"></h2>
                <p class="count-text ">Question answered</p>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white py-4" style="margin-top:20px">

    <div class="row text-center">
        <div class="col-sm-12 col-md-6">
            <img src="~/images/core/studentquestion.jpg" class="img-fluid" />
        </div>

        <div class="col-sm-12 col-md-6 text-center">
            <div class="card mb-4 box-shadow border-0">
                <div class="card-body">
                    <br />
                    <br />
                    <br />
                    <h1 class="card-title pricing-card-title">Student can</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Ask question to the community</li>
                        <li>Get best answer possible</li>
                        <li>Crack your homework</li>
                    </ul>
                    <a type="button" class="btn btn-sm btn-block btn-outline-success" asp-area="Identity" asp-page="/Account/Register">Join for free</a>
                </div>
            </div>

        </div>


    </div>
</div>


<div class="container bg-white py-4" style="margin-top:20px">

    <div class="row text-center mt-4">


        <div class="col-sm-12 col-md-6 text-center">
            <div class="card mb-4 box-shadow border-0">

                <div class="card-body">
                    <h1 class="card-title pricing-card-title">We offer Free</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Create multiple shools/colleges/coaching centers</li>
                        <li>Add as many classes as you want.</li>
                        <li>Add teacher and Student.</li>
                        <li>Announce general and class wise notice.</li>
                    </ul>
                    <a type="button" class="btn btn-sm btn-block btn-outline-success" asp-area="Identity" asp-page="/Account/Register">Start Free</a>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-6">
            <img src="~/images/core/school.jpg" class="img-fluid" />
        </div>
    </div>
</div>

@*<div class="container px-0 bg-white py-4" style="margin-top:20px">
        <div class="row">
            <br />
            <div class="col text-center">
                <h2>Our Partners</h2>
            </div>



        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count-text ">Our Customer</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                    <p class="count-text ">Happy Clients</p>
                </div>
            </div>


        </div>
    </div>*@