@model Tuteexy.Models.SchoolTeacher

@if (Model != null)
{

<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="Homeworks" asp-action="Index">
        <span class="fas fa-envelope-open-text"></span>
        Homeworks
    </a>
</li>
<li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="Homeworks" asp-action="ReplyList">
        <span class="fas fa-list"></span>
        HW Reply List
    </a>
</li>

    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="Classworks" asp-action="Index">
            <span class="fas fa-atom"></span>
            Classworks
        </a>
    </li>
    <li class="nav-item py-0">
    <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="ExamTmps" asp-action="Index">
        <span class="fas fa-stream"></span>
        Exam
    </a>
</li>
    <li class="nav-item py-0">
        <a class="nav-link txt-tuteegreen py-1" asp-area="Lms" asp-controller="ExamTmps" asp-action="ReplyList">
            <span class="fas fa-list"></span>
            Exam Reply List
        </a>
    </li>

}

