@page
@model ConfirmEmailModel
@{ ViewData["Title"] = "Confirm email"; }


<section class="hero is-white is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title is-1">
                        @ViewData["Title"]
                    </h1>
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>
