@page
@model ForgotPasswordModel
@{ ViewData["Title"] = "Forgot your password?"; }

<section class="hero is-white is-fullheight">
    <div class="hero-head">
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h1 class="title is-1">
                        @ViewData["Title"]
                    </h1>

                    <form method="post">
                        <div class="field">
                            <label class="label">Enter your email.</label>
                            <div class="control has-icons-left">
                                <input asp-for="Input.Email" class="input" type="email" placeholder="e.g. alex@smith.com" re-Implementing the form’s content31
                                       quired><span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                            </div>
                            <p class="help"></p>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-success">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
