@page "/Lockout"
@model LockoutModel
@{ ViewData["Title"] = "Locked out"; }


<div class="row justify-content-center align-content-center">
    <div class="col-sm-10 col-md-10 p-4">
        <section>
            <h3>
                @ViewData["Title"]
            </h3>
            <h5 class="text-danger">
                This account has been locked out, please try again later.
            </h5>
        </section>
    </div>
</div>