@page "/Register"
@model RegisterModel
@using Tuteexy.Utility
@{ ViewData["Title"] = "Register"; }


    <div class="row justify-content-center align-content-center">
        <div class="col-sm-10 col-md-10 pt-0 pb-3 px-4">
            <section>
                <form method="post" autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" class="inplgnin">
                    <p class="lead">Create an account</p>
                    <div class="form-group my-1">
                        <input type="text" class="form-control form-control-sm" asp-for="Input.Name" aria-describedby="emailHelp"
                               placeholder="Enter your name..." required>
                    </div>
                    <div class="form-group my-1">
                        <input type="email" class="form-control form-control-sm" asp-for="Input.Email" aria-describedby="emailHelp"
                               placeholder="Enter your email..." required>
                    </div>
                    <div class="form-group my-1">
                        <input type="text" class="form-control form-control-sm" asp-for="Input.PhoneNumber" aria-describedby="emailHelp"
                               placeholder="Enter your phone number..." required>
                    </div>
                    <div class="form-group row my-1">
                        <div class="col-6">
                            <input type="password" class="form-control form-control-sm" asp-for="Input.Password"
                                   placeholder="Enter password..." required>
                        </div>
                        <div class="col-6">
                            <input type="password" class="form-control form-control-sm" asp-for="Input.ConfirmPassword"
                                   placeholder="Enter confirm password..." required>
                        </div>
                    </div>
   
                    <div class="form-group my-1">
                        <h6>
                            By clicking <em>Sign Up</em> you agree to our <a asp-area="Front" asp-controller="Home" asp-action="Page" asp-route-name="terms"><strong> terms of service </strong></a>
                        </h6>
                        <button type="submit" class="btn btn-success btn-sm btn-block">Sign Up</button>
                    </div>
                </form>
            </section>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
