.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightcolumn {
    display: flex;
    justify-content: right;
    align-items: center;
}


body {
    background-image: url('/images/core/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
/*    font-family: 'Poppins', sans-serif;
    font-size: 20px;*/
}

/*
.center-column {
    flex-direction: column;
}

.top {
    align-items: flex-start;
}

.right {
    justify-content: flex-end;
}

.bottom {
    align-items: flex-end;
}

.left {
    justify-content: flex-start;
}

.single-spaced, .single-spaced * {
    line-height: 1;
}*/

@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}
