<!-- Top Breadcrumb -->
<div class="breadcrumb is-small is-white" aria-label="breadcrumbs">
    <ul>
        <li>
            <a asp-area="Lms"
               asp-controller="Schools"
               asp-action="index"><strong>Schools</strong></a>
        </li>
        <li class="is-active"><a href="#" class="has-text-white" aria-current="page"><strong>Index</strong></a></li>
    </ul>
</div>

<!-- Top Level -->
<div class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-white">
                <strong>School's List</strong>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
        <div class="buttons has-addons is-centered">
            <a class="button is-warning" asp-area="Lms" asp-controller="Schools" asp-action="Upsert">Create</a>
        </div>
    </div>
</div>

<!-- Table -->
<div class="table-container has-background-info-light px-2 py-2 mb-0">
    <table id="tblData" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead class="has-background-grey-light">
            <tr>
                <th><abbr title="Name">School Name</abbr></th>

                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/lms/schools.js"></script>
    <partial name="_DeleteScriptsPartial" />
}
