@model IEnumerable<Tuteexy.Models.ClassRoomNotice>



<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                In this 'Class Notice' section, you get to view all the notices declared in <b>your</b> particular class, such as class-specific programmes, class-based projects, etc.
            </div>
            @*<div class="card">
                <div class="card-header">
                <h5 class="card-title">Class Notice</h5>
            </div>
                <div class="card-body">

                </div>
            </div>*@
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            @foreach (ClassRoomNotice item in Model)
            {
<div class="card">
    <div class="card-body">
        <p class="card-title">@item.Title</p>

        <div class="content">
            @Html.Raw(item.Description)
        </div>
    </div>
</div>            }
        </div>
    </div>
</div>