<div class="row row-cols-1">
    <div class="col-12">
        <div class="card bg-homework mb-2">
            <div class="card-body text-white">
                <h3 class="card-title">Under Construction - We will notify when it is ready</h3>
            </div>
        </div>
    </div>
</div>