<div class="content has-text-centered">
    <div class="item columns">
        <div class="column is-2">
        </div>
        <div class="column is-8 pt-2">
            <p class="subtitle is-6 has-text-weight-light has-text-grey">
                Work together as a team, with:
            </p>
            <a class="center" asp-area="" asp-controller="home" asp-action="index">
                <img src="~/images/core/logowhite.jpg" class="image" style="width:150px">
            </a>
            <p class="subtitle is-6 has-text-weight-light has-text-grey">
                Built with your best interests at heart in July 2020. © Tuteely
            </p>
            <a href="http://wwww.facebook.com/tuteely">
                <span class="icon has-text-weight-light has-text-grey is-large">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </span>
            </a>
            <a href="http://wwww.twitter.com/tuteely">
                <span class="icon has-text-weight-light has-text-grey is-large">
                    <i class="fab fa-twitter fa-2x"></i>
                </span>
            </a>
            <a href="http://wwww.youtube.com/tuteely">
                <span class="icon has-text-weight-light has-text-grey is-large">
                    <i class="fab fa-youtube fa-2x"></i>
                </span>
            </a>
        </div>
        <div class="column is-2">
        </div>
    </div>
</div>
