@using Titan.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuteely - For Student, Develop by Student</title>
    <link rel="icon"
          href="/Images/pencil/favicon.png"
          sizes="any"
          type="image/svg+xml" />
    @*<link rel="stylesheet" href="~/css/bulma.css" />*@
    <link rel="stylesheet" href="~/css/grid.css" />
    <link rel="stylesheet" href="~/css/helpers.css" />
    <link rel="stylesheet" href="~/css/mystyles.css" />
    @*<link rel="stylesheet" href="~/css/all.min.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css">*@

    <script src="https://kit.fontawesome.com/e6e889a173.js"
            crossorigin="anonymous"></script>
    @*
            <link
              rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <script
              defer
              src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
            ></script>
            <link
              rel="stylesheet"
              href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
            />
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
            />
            <link
              rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
            />

        <style>
            .menu-label {
                color: #8be9fd !important;
                margin-left: .5em;
            }

            .menu-list li a {
                color: white !important;
            }

                .menu-list li a:hover {
                    color: black !important;
                }

            .columns {
                align-items: stretch;
            }
        </style> *@
</head>
<body class="has-background-danger">
    <header class="mb-0 py-0">
        <nav class="navbar is-fixed-top is-bordered"
             role="navigation"
             aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item"
                   asp-area="Ironman"
                   asp-controller="Dashboard"
                   asp-action="index">
                    <img src="~/images/core/logowhite.jpg" width="112" height="28" />
                </a>
                <a role="button"
                   class="navbar-burger burger"
                   aria-label="menu"
                   aria-expanded="false"
                   data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div style="height: auto !important;">


        <div class="columns mt-6 pt-2 pb-0 mb-0 is-fullheight has-background-dark">
            <div class="column is-2 aside">
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li>
                        <a asp-area="Ironman"
                           asp-controller="Dashboard"
                           asp-action="index">
                            <span class="icon is-small">
                                <i class="fa fa-tachometer"></i>
                            </span>
                            Dashboard
                        </a>
                    </li>
                </ul>
                <p class="menu-label">Administration</p>
                <ul class="menu-list">
                    <li>
                        <a asp-area="Ironman"
                           asp-controller="Users"
                           asp-action="index">

                            <span class="icon is-small">
                                <i class="fa fa-pencil-square-o"></i>
                            </span>
                            Users
                        </a>
                    </li>
                    <li>
                        <a asp-area="Ironman"
                           asp-controller="Schools"
                           asp-action="index">
                            <span class="icon is-small"><i class="fa fa-desktop"></i></span>
                            Schools
                        </a>
                    </li>
                    @*<li>
                        <a href="/bulma-admin-dashboard-template/tables.html">
                            <span class="icon is-small"><i class="fa fa-table"></i></span>
                            Tables
                        </a>
                    </li>
                    <li>
                        <a href="/bulma-admin-dashboard-template/presentations.html">
                            <span class="icon is-small">
                                <i class="fa fa-bar-chart"></i>
                            </span>
                            Presentations
                        </a>
                    </li>
                    <li>
                        <a><i class="fa fa-cog"></i> Settings</a>
                        <ul>
                            <li><a>Members</a></li>
                            <li><a>Plugins</a></li>
                            <li><a>Add a member</a></li>
                        </ul>
                    </li>*@
                </ul>
                @*<p class="menu-label">Live On</p>
                <ul class="menu-list">
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-bug"></i></span>
                            Additional Pages
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-windows"></i></span>
                            Extras
                        </a>
                    </li>
                    <li>
                        <a rel="noopener" target="_blank" href="https://mazipan.space/">
                            <span class="icon is-small"><i class="fa fa-laptop"></i></span>
                            Landing Page
                        </a>
                    </li>
                </ul>*@

                <aside class="menu has-text-white">
                    @*<p class="menu-label has-text-primary">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a>Dashboard</a></li>
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="Company"
                               asp-action="Index">Company</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="User"
                               asp-action="Index">User</a>
                        </li>
                    </ul>*@
                    @*
                    <p class="menu-label">
                      Administration
                    </p>
                    <ul class="menu-list">
                      <li><a>Team Settings</a></li>
                      <li>
                        <a class="is-active">Manage Your Team</a>
                        <ul>
                          <li><a>Members</a></li>
                          <li><a>Plugins</a></li>
                          <li><a>Add a member</a></li>
                        </ul>
                      </li>
                      <li><a>Invitations</a></li>
                      <li><a>Cloud Storage Environment Settings</a></li>
                      <li><a>Authentication</a></li>
                    </ul>
                    <p class="menu-label">
                      Transactions
                    </p>
                    <ul class="menu-list">
                      <li><a>Payments</a></li>
                      <li><a>Transfers</a></li>
                      <li><a>Balance</a></li>
                    </ul>
                    *@
                </aside>
            </div>
            <div class="column">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <partial name="_FooterScriptsPartial" />
    </footer>


    @* <script src="~/js/all.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    *@ @*
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"
        ></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    *@ @RenderSection("Scripts", required: false)

    <partial name="_NavBurgerScriptsPartial" />
</body>
</html>
