@{ ViewData["Title"] = "Live Meeting"; }

@*<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center" style="margin-top: 0; padding-top: 30px; padding-bottom: 30px;">Azure SignalR Group Chat</h2>

            <div class="container" style="height: calc(100% - 110px);">
                <div id="messages" style="background-color: whitesmoke;"></div>

                <div class="input-prepend input-append" style="padding-bottom: 5px; padding-top: 5px;">
                    <input type="text" id="message" style="width: 50%; padding: 5px 10px;"
                           placeholder="Type message and press Enter to send...">
                    <button class="btn-success" id="echo">Echo</button>
                    <button class="btn-success" id="sendmessage">Broadcast</button>
                </div>

                <div class="input-prepend input-append" style="padding-bottom: 5px; padding-top: 5px;">
                    <input type="text" id="groupoperationname" style="width: 50%; padding: 5px 10px;"
                           placeholder="Type group name">
                    <button class="btn-success" id="joingroup">Join Group</button>
                    <button class="btn-success" id="leavegroup">Leave Group</button>
                </div>

                <div class="input-prepend input-append" style="padding-bottom: 5px; padding-top: 5px;">
                    <input type="text" id="groupname" style="width: 50%; padding: 5px 10px; "
                           placeholder="Type group name, if send to groups, separate with comma">
                    <button class="btn-success" id="sendgroups">Send to Groups</button>
                    <button class="btn-success" id="sendgroup">Send to Group</button>
                    <button class="btn-success" id="sendgroupexcept">Send to Group Except</button>
                    <input type="text" id="groupexcept" placeholder="Type connection ID excepts, separate with comma" />
                </div>

                <div class="input-prepend input-append" style="padding-bottom: 5px; padding-top: 5px;">
                    <input type="text" id="username" style="width: 50%; padding: 5px 10px; "
                           placeholder="Type user name, if send to users, separate with comma">
                    <button class="btn-success" id="senduser">Send to User</button>
                    <button class="btn-success" id="sendusers">Send to Users</button>
                </div>
            </div>

            <div class="modal alert alert-danger fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>Connection Error...</div>
                            <div><strong style="font-size: 1.5em;">Hit Refresh/F5</strong> to rejoin. ;)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!--<div class="container">
    <div class="row">
        <div class="col">
            <video autoplay muted controls id="videoCtr" width="480" height="100"></video>
            <video autoplay muted controls id="remoteVideoCtr" width="480" height="100"></video>
            <video autoplay muted controls id="videoCtrRec" width="100" height="100" style="display:none"></video>

            <button id="startConnection">Start Connection</button>

            <button id="btnMuteUnmute">UnMute</button>
            <button id="btnStartStopCam">Start Camera</button>
            <button id="btnStartStopScreenshare">Screen Share</button>
            <button id="btnStartReco">Start Recording</button>
            <button id="btnPauseReco" style="display:none">Pause</button>
            <button id="btnResumeReco" style="display:none">Resume</button>
            <button id="btnStopReco" style="display:none">Stop</button>

            <a href="" id="downloadRecording" style="display:none">Download</a>
        </div>
    </div>-->
    @*<div class="row">
            <div class="col">
                <select id="group">
                    <option value="All">Everyone</option>
                    <option value="Myself">Myself</option>
                    <option value="PrivateGroup">Private Group</option>
                </select>
                <input type="button" id="joinGroup" value="Join Tuteexy Group" />
            </div>
        </div>*@
    <!--<div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" value="@await Component.InvokeAsync("UserNam")" readonly /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input class="form-control" type="text" id="messageInput" autofocus /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input class="btn btn-success" type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>-->
@*<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>*@
@*<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatn.js"></script>


<script src="~/js/video-stream-merger.js"></script>
<script src="~/js/demo.js"></script>*@



