
    <form id="account" method="post" class="inplgnin" asp-area="Identity" asp-page="/Account/Login">
        <p class="lead">Already Have an account?</p>
        <div class="form-group my-1">
            <input id="UserName" name="UserName" type="text" class="form-control form-control-sm" aria-describedby="emailHelp"
                   placeholder="Enter your User ID..." required>
        </div>
        <div class="form-group my-1">
            <input id="password" name="password" type="password" class="form-control form-control-sm"
                   placeholder="Enter your Password..." required>
        </div>
        <div class="form-group my-1">
            <button type="submit" class="btn btn-success btn-sm btn-block">Log in</button>
            <a id="forgot-password" class="btn btn-link btn-sm w-100" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
        </div>
    </form>


