    <h3 class="subtitle is-5 has-text-black py-1 my-1">
        Alraedy Have an account?
    </h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" autocomplete="off" asp-area="Identity" asp-page="/Account/Login" >
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input id="UserName" name="UserName" class="input" type="text" placeholder="User ID" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        <input id="Password" name ="Password" class="input is-success" type="password" placeholder="Password" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>

                    </p>
                </div>
                <div class="field">
                    <button type="submit" class="button is-success is-fullwidth has-text-weight-bold">Log in</button>
                </div>
            </div>

        </div>
        <div id="d" class="rightcolumn">
            <p class="subtitle is-7 has-text-centered has-text-black">
                <a id="forgot-password" href="/Identity/Account/ForgotPassword">   Forgot your password?</a><br>
            </p>
        </div>

    </form>



