<form method="post" autocomplete="off" asp-area="Identity" asp-page="/Account/Register" class="inplgnin">
    <p class="lead">Create an account</p>
    <div class="form-group my-1">
        <input id="Name" name="Name" type="text" class="form-control form-control-sm" aria-describedby="emailHelp"
               placeholder="Enter your name..." required>
    </div>
    <div class="form-group my-1">
        <input id="Email" name="Email" type="email" class="form-control form-control-sm" aria-describedby="emailHelp"
               placeholder="Enter your email..." required>
    </div>
    <div class="form-group my-1">
        <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control form-control-sm" aria-describedby="emailHelp"
               placeholder="Enter your phone number..." required>
    </div>
    <div class="form-group row my-1">
        <div class="col-6">
            <input id="Password" name="Password" type="password" class="form-control form-control-sm" 
                   placeholder="Enter password..." required>
        </div>
        <div class="col-6">
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control form-control-sm" 
                   placeholder="Enter confirm password..." required>
        </div>
    </div>

    <div class="form-group my-1">
        <h6>
            By clicking <em>Sign Up</em> you agree to our <a asp-area="Front" asp-controller="Home" asp-action="Page" asp-route-name="terms"><strong> terms of service </strong></a>
        </h6>
        <button type="submit" class="btn btn-success btn-sm btn-block">Sign Up</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
