

                    <h3 class="subtitle is-5 has-text-black py-1 my-1">
                        Create a free account
                    </h3>

                    <form method="post" autocomplete="off" asp-area="Identity" asp-page="/Account/Register" >
                        <div class="field">
                              <div class="control has-icons-left">
                                <input id="Name" name="Name" class="input is-rounded" type="text" placeholder="Enter your name.">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                               <div class="control has-icons-left">
                                <input id="Email" name="Email" class="input is-rounded" type="email" placeholder="Enter your email.">
                                <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                            </div>
                           
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input id="PhoneNumber" name="PhoneNumber" class="input is-rounded" type="text" placeholder="Enter your phone.">
                                <span class="icon is-small is-left"><i class="fa fa-phone"></i></span>
                            </div>
                            
                        </div>

                        <div class="field">
                                <div class="control has-icons-left">
                                <input id="Password" name="Password" class="input is-rounded" type="password" placeholder="Password">
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                            
                        </div>

                        <div class="field">
                                <div class="control has-icons-left">
                                <input id="ConfirmPassword" name="ConfirmPassword" class="input is-rounded" type="password" placeholder="Confirm Password">
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                            
                        </div>

                        <h5 class="subtitle is-6 has-text-black">
                            By clicking <em>Sign Up</em> you agree to our <a asp-area="Front" asp-controller="Home" asp-action="Page" asp-route-name="terms"><strong> terms of service </strong></a>
                        </h5>

                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-success is-fullwidth has-text-weight-bold">START FREE</button>
                            </div>
                        </div>
                    </form>








@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
