@*@using Tuteexy.Utility
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor*@

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0Z9NNWXSFP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0Z9NNWXSFP');
    </script>

    <script data-ad-client="ca-pub-9245786985241622" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuteexy - For Student, Develop by Student</title>
    <link rel="icon"
          href="/Images/core/icon.png"
          sizes="any"
          type="image/svg+xml" />

    <link rel="stylesheet" href="~/css/grid.css" />
    <link rel="stylesheet" href="~/css/helpers.css" />
    <link rel="stylesheet" href="~/css/mystyles.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>
        a {
            color: #48c774;
        }
    </style>

</head>

<body class="body">
    <header class="mb-0 py-0">
        <!-- Main container -->
        <nav class="level navbar is-fixed-top is-mobile px-2 py-2 has-text-success">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <a asp-area="User"
                       asp-controller="Dashboard"
                       asp-action="index">
                        <img src="~/images/core/logo.png" alt="" style="height: 30px;">
                    </a>
                </div>
                <div class="level-item">
                    <div>

                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <div class="level-item has-text-centered">
                    <div>
                        <a asp-area="User"
                           asp-controller="Dashboard"
                           asp-action="index">
                            <span class="icon is-small"><i class="fas fa-home"></i></span>
                            <p class="heading">Dashboard</p>
                        </a>

                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <a asp-area="Lms"
                           asp-controller="Schools"
                           asp-action="index">
                            <span class="icon is-small"><i class="fas fa-school"></i></span>
                            <p class="heading">Schools</p>
                        </a>

                    </div>
                </div>
                @*<div class="level-item has-text-centered">
                    <div>
                        <a href="#">
                            <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                            <p class="heading">Notification</p>
                        </a>
                        <a class="navbar-item nav-tag">
                            <span class="icon is-small"><i class="fa fa-envelope-o"></i></span><span class="tag is-danger tag-notif">0</span>
                        </a>
                    </div>
                </div>*@
                <div class="level-item has-text-centered">
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
                
            </div>
        </nav>
       
    </header>



    <div class="columns mt-6 pt-2 pb-1 mb-0 has-background-dark">
        <div class="column is-2 aside">
           
            <p class="menu-label">General</p>
            <ul class="menu-list">
                

                <li>
                    <a asp-area="User"
                       asp-controller="Dashboard"
                       asp-action="Homeworks">

                        <span class="icon is-small">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        My Homeworks
                    </a>
                </li>
                <li>
                    <a asp-area="User"
                       asp-controller="Dashboard"
                       asp-action="ClassRoutines">

                        <span class="icon is-small">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        My Class Routines
                    </a>
                </li>
                <li>
                    <a asp-area="User"
                       asp-controller="Dashboard"
                       asp-action="GeneralNotices">

                        <span class="icon is-small">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        My School Notice
                    </a>
                </li>
                <li>
                    <a asp-area="User"
                       asp-controller="Dashboard"
                       asp-action="ClassNotices">

                        <span class="icon is-small">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        My Class Notice
                    </a>
                </li>
                <li>
                    <a asp-area="User"
                       asp-controller="Dashboard"
                       asp-action="Holidays">

                        <span class="icon is-small">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        My School Holiday
                    </a>
                </li>
            </ul>
        </div>
        <div class="column main columnsfullheight">
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <div class="item columns">
                <div class="column is-2">
                </div>
                <div class="column is-8 pt-2">
                    <p class="subtitle is-6 has-text-weight-light has-text-grey">
                        Work together as a team, with:
                    </p>
                    <a class="center" asp-area="" asp-controller="home" asp-action="index">
                        <img src="~/images/core/logo.png" class="image" style="width:150px">
                    </a>
                    <p class="subtitle is-6 has-text-weight-light has-text-grey">
                        Built with your best interests at heart in July 2020. © Tuteexy
                    </p>
                    <a href="http://wwww.facebook.com/tuteexy">
                        <span class="icon has-text-weight-light has-text-grey is-large">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </span>
                    </a>
                    <a href="http://wwww.twitter.com/tuteexy">
                        <span class="icon has-text-weight-light has-text-grey is-large">
                            <i class="fab fa-twitter fa-2x"></i>
                        </span>
                    </a>
                    <a href="http://wwww.youtube.com/tuteexy">
                        <span class="icon has-text-weight-light has-text-grey is-large">
                            <i class="fab fa-youtube fa-2x"></i>
                        </span>
                    </a>
                </div>
                <div class="column is-2">
                </div>
            </div>
        </div>

    </footer>

    <partial name="_NavBurgerScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e6e889a173.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
