<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0Z9NNWXSFP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0Z9NNWXSFP');
    </script>

    <script data-ad-client="ca-pub-9245786985241622" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuteexy - For Student, Develop by Student</title>
    <link rel="icon"
          href="/Images/core/icon.png"
          sizes="any"
          type="image/svg+xml" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layoutdashboard.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>

<body class="body">
    <div class="wl">
        <nav id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li>
                    <a asp-area="User" asp-controller="Dashboard" asp-action="Homeworks">
                        <span class="fas fa-envelope-open-text"></span>
                        My Homeworks
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Dashboard" asp-action="ClassRoutines">
                        <span class="fas fa-calendar-alt"></span>
                        My Class Routines
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Dashboard" asp-action="GeneralNotices">
                        <span class="fas fa-box-open"></span>
                        My School Notice
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Dashboard" asp-action="ClassNotices">
                        <span class="fas fa-clipboard-list"></span>
                        My Class Notice
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="Dashboard" asp-action="Holidays">
                        <span class="fas fa-fan"></span>
                        My School Holiday
                    </a>
                </li>
                <li>
                    <a asp-area="User" asp-controller="TutorJobs" asp-action="Index">
                        <span class="fas fa-address-card"></span>
                        Tutor Job
                    </a>
                </li>
            </ul>



        </nav>
    </div>
    <header>
        <nav class="navbar navbar-expand bg-Alabaster justify-content-center fixed-top p-0 shadow-sm">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-column" asp-area="User" asp-controller="Dashboard" asp-action="Index">
                            <img src="~/images/core/logo.png" alt="" style="height: 30px;">
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav w-100 text-center justify-content-end mt-0">
                    <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                        <a class="nav-link d-flex flex-column text-success" id="menu-toggle" href="#">
                            <span class="fas fa-bars"></span>
                            <span class="d-sm-inline mt-1">Menu</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-column text-success" asp-area="User" asp-controller="Dashboard" asp-action="index">
                            <span class="fas fa-home fa-1x"></span>
                            <span class="d-sm-inline mt-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex flex-column text-success" asp-area="Lms" asp-controller="Schools" asp-action="index">
                            <span class="fas fa-school fa-1x"></span>
                            <span class="d-sm-inline mt-1">Schools</span>
                        </a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>

    </header>

    <div class="container-fluid fixed-top-margin">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar p-0">

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Dashboards</span>
                </h6>
                <ul class="nav flex-column">
                    <li>
                        <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="Homeworks">
                            <span class="fas fa-envelope-open-text"></span>
                            My Homeworks
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="ClassRoutines">
                            <span class="fas fa-calendar-alt"></span>
                            My Class Routines
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="GeneralNotices">
                            <span class="fas fa-box-open"></span>
                            My School Notice
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="ClassNotices">
                            <span class="fas fa-clipboard-list"></span>
                            My Class Notice
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="Holidays">
                            <span class="fas fa-fan"></span>
                            My School Holiday
                        </a>
                    </li>

                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Other Activities</span>
                </h6>
                <ul class="nav flex-column">
                    <li>
                        <a class="nav-link" asp-area="User" asp-controller="TutorJobs" asp-action="Index">
                            <span class="fas fa-address-card"></span>
                            Tutor Job
                        </a>
                    </li>
                </ul>
            </nav>





            <main role="main" class="col-md-10 ml-sm-auto px-4">
                <div class="row">
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                    <div class="col-md-3 pr-0">
                        <div class="row p-0 m-0">
                            <div class="col-12 p-0 m-0">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                <div class="icon-big text-center icon-warning">
                                                    <i class="fas fa-user-circle text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <p class="card-title">@await Component.InvokeAsync("UserName")</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats">
                                            <i class="fa fa-refresh"></i>
                                            Profile
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <partial name="_RightAdsPartial" />
                        </div>
                    </div>
                </div>
                <partial name="_FooterScriptsPartial" />
            </main>


        </div>
    </div>

    <div class="row" style="display:none" id="sidemenubar">
        <nav class="col-md-2 d-none d-md-block sidebar p-0">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Dashboards</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li>
                    <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="Homeworks">
                        <span class="fas fa-briefcase"></span>
                        My Homeworks
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="ClassRoutines">
                        <span class="fas fa-briefcase"></span>
                        My Class Routines
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="GeneralNotices">
                        <span class="fas fa-briefcase"></span>
                        My School Notice
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="ClassNotices">
                        <span class="fas fa-briefcase"></span>
                        My Class Notice
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="User" asp-controller="Dashboard" asp-action="Holidays">
                        <span class="fas fa-briefcase"></span>
                        My School Holiday
                    </a>
                </li>

            </ul>

        </nav>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e6e889a173.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <partial name="_NavBurgerScriptsPartial" />
    <script src="~/js/site.js"></script>

</body>
</html>
