@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Tuteexy.Utility


@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
            <a aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small"><i class="fas fa-user"></i></span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                <p class="heading">@await Component.InvokeAsync("UserName")</p>
            </a>
        </div>
        <div class="dropdown-menu has-background-success py-0" id="dropdown-menu4" role="menu">
            <div class="dropdown-content has-background-success py-0">
                <div class="dropdown-item py-0 px-0">
                    <a class="button is-success" asp-area="User" asp-controller="Dashboard" asp-action="Profile" style="width:100%">
                        Profile
                    </a>
                </div>

                <div class="dropdown-item py-0 px-0">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Front" })">
                        <button type="submit" class="button is-success" style="width:100%">
                            <span class="icon is-small">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}