@model Tuteexy.Models.UserProfile

@if (Model!=null)
{
<div class="dropdown-item">
    <div class="row row-col-1 text-center">
        <div class="col-12">
            <div class="bg-white">
                @if (Model.ImageUrl == "")
                { 
                    <span class="fas fa-user-circle fa-5x"></span>
                }
                else
                {
                    <img src="~/images/profiles/@Model.ImageUrl" style="width:150px;" class="rounded" />
                }

            </div>
        </div>
        <div class="col-12 mt-2">
            <p class="card-title">@Model.User.FullName</p>
        </div>
    </div>
</div>
        <a class="dropdown-item txt-tuteegreen" asp-area="Hub" asp-controller="UserProfiles" asp-action="Upsert">
            <span class="fas fa-user"></span>
            Edit Profile
        </a>
}