@model Tuteexy.Models.ViewModels.UserHomeVM

@{ ViewData["Title"] = "Hovercel Shop"; }

<div class="card">
    <div class="card-body text-center py-0">
        <img src="~/images/shops/Hovercel.jpg" class="img-fluid"/>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card rounded">
            <div class="card-body">
                <img src="~/images/shops/hc0001.jpg" class="card-img" />
            </div>
            <div class="card-footer bg-transparent border-success">
                <a class="btn btn-success d-flex flex-column" href="tel:+8801765263343">
                    <span class="fas fa-headset fa-1x"></span>
                    <span class="d-sm-inline mt-1">Call for booking</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card rounded w-100">
            <div class="card-body">
                <img src="~/images/shops/hc0002.jpg" class="card-img" />
            </div>
            <div class="card-footer bg-transparent border-success"> 
                <a class="btn btn-success d-flex flex-column" href="tel:+8801765263343">
                    <span class="fas fa-headset fa-1x"></span>
                    <span class="d-sm-inline mt-1">Call for booking</span>
                </a>
            </div>        
        </div>
    </div>
    @*<div class="col-sm-4">
            <div class="card rounded w-100">
                <div class="card-body">

                </div>
                <div class="card-footer bg-transparent border-success">
                    <button class="btn btn-success d-block">Call for booking</button>
                </div>
            </div>
        </div>*@
</div>