<!-- Top Breadcrumb -->
<div class="breadcrumb is-small is-white" aria-label="breadcrumbs">
    <ul>
        <li>
            <a asp-area="Lms"
               asp-controller="Homeworks"
               asp-action="index"><strong>Homework</strong></a>
        </li>
        <li class="is-active"><a href="#" class="has-text-white" aria-current="page"><strong>Index</strong></a></li>
    </ul>
</div>

<!-- Top Level -->
<div class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-white">
                <strong>Homework's List</strong>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
        <div class="buttons has-addons is-centered">
            <a class="button is-success" asp-area="Lms" asp-controller="Homeworks" asp-action="Upsert">Create</a>
        </div>
    </div>
</div>

<partial name="_StatusMessage" for="@TempData["StatusMessage"]" />

<!-- Table -->
<div class="table-container has-background-info-light px-2 py-2 mb-0">
    <table id="tblData" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth display compact">
        <thead class="has-background-grey-light">
            <tr>
                <th><abbr title="N:">Class Name</abbr></th>
                <th><abbr title="S:">Subject</abbr></th>
                <th><abbr title="T:">Title</abbr></th>
                <th><abbr title="S:">Schedule Date time</abbr></th>
                <th><abbr title="D:">Date Due</abbr></th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>


@section Scripts {
    <script src="~/js/lms/homeworks.js"></script>
    @* <partial name="_DeleteScriptsPartial" />*@
}
