@model Tuteexy.Models.ViewModels.HomeworkVM

@{
    var title = "Create Homework";
}

@section Scripts {
    <partial name="_tinymceScriptPartial" />
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            @if (Model.Homework.HomeworkID != 0)
            {
                //edit
                title = "Edit Homework";
            }
            @title
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" autocomplete="off" asp-route-returnUrl="">
            <input type="hidden" asp-for="Homework.HomeworkID" />

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.ClassRoomID">Class Name</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Homework.ClassRoomID, Model.ClassRoomList, "-Select a Class Room", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.Subject">Subject</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Homework.Subject, Model.SubjectList, "-Select a Subject", new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.Title">Title</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" asp-for="Homework.Title">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.Description">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="Homework.Description"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.RefLink1">Ref Link - 1</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" asp-for="Homework.RefLink1">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.RefLink2">Ref Link - 2</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" asp-for="Homework.RefLink2">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.RefLink3">Ref Link - 3</label>
                <div class="col-sm-10">
                        <input class="form-control" type="text" asp-for="Homework.RefLink3">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.RefLink4">Ref Link - 4</label>
                <div class="col-sm-10">
                        <input class="form-control" type="text" asp-for="Homework.RefLink4">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.RefLink5">Ref Link - 5</label>
                <div class="col-sm-10">
                        <input class="form-control" type="text" asp-for="Homework.RefLink5">
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.ScheduleDateTime">Schedule Date</label>
                <div class="col-sm-10">
                        <input id="datepicker" class="form-control" type="date" asp-for="Homework.ScheduleDateTime">
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.ScheduleDateTime">Schedule Time</label>
                <div class="col-sm-10">
                        <input id="datepicker" class="form-control" type="time" asp-format="{0:HH:mm}" asp-for="ScheduleTime">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Homework.DateDue">Date Due</label>
                <div class="col-sm-10">
                        <input class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" asp-for="Homework.DateDue">
                </div>

            </div>

            <div class="btn-group" role="group" aria-label="Basic example">
                @if (Model.Homework.HomeworkID != 0)
                {
                    <button type="submit" class="btn btn-success" asp-route-id="@Model.Homework.HomeworkID">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Create</button>
                }
                <button class="btn btn-light" asp-area="Lms" asp-controller="Homeworks" asp-action="Index">Cancel</button>
            </div>
        </form>
    </div>
</div>



