@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Tuteexy.Utility

@if (SignInManager.IsSignedIn(User))
{
<a class="navbar-item nav-tag">
    <span class="icon is-small"><i class="fa fa-envelope-o"></i> </span><span class="tag is-danger tag-notif">0</span>
</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        @*<figure class="image is-32x32" style="margin-right:.5em">
                                <img src="https://avatars1.githubusercontent.com/u/7221389?v=4&amp;s=32">
                            </figure>*@
                        @await Component.InvokeAsync("UserName")
                    </a>
                    <div class="navbar-dropdown is-right">
                        <div class="navbar-item">
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Front" })">
                                <button type="submit" class="button buttoncust is-fullwidth">
                                    <span class="icon is-small">
                                        <i class="fa fa-sign-out"></i>
                                    </span>
                                    <span>Logout</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div> }
            else
            {
<div class="navbar-item">
    <div class="buttons">
        <a class="button is-light" asp-area="Identity" asp-page="/Account/Login">
            Log in
        </a>
        <a class="button is-success" asp-area="Identity" asp-page="/Account/Register">
            <strong>START FREE</strong>
        </a>
    </div>
</div>}