@model Tuteexy.Models.Question

@{ var title = "Ask a question get an answer instantly"; }

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <span class="fas fa-question-circle"></span>
            @if (Model.QuestionID != 0)
            {
                //edit
                title = "Edit Question";
            }
            @title
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" autocomplete="off" asp-route-returnUrl="">
            <input type="hidden" asp-for="QuestionID" />

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Description">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="Description"></textarea>
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="IsReplyClose">
                <label class="form-check-label" asp-for="IsReplyClose">Reply Close</label>
            </div>

            <div class="btn-group" role="group" aria-label="Basic example">
                @if (Model.QuestionID != 0)
                {
                <button type="submit" class="btn btn-success" asp-route-id="@Model.QuestionID"> <span class="fas fa-save"></span>
                Update</button> }
    else
    {
            <button type="submit" class="btn btn-success"> <span class="fas fa-save"></span>
                Post</button>}
                <button class="btn btn-light" asp-area="User" asp-controller="Questions" asp-action="Index">
                <span class="fas fa-undo"></span>
                Close</button>
            </div>
        </form>
    </div>
</div>

