@model IEnumerable<Tuteexy.Models.ViewModels.SchoolVM>
<!-- Top Breadcrumb -->
<div class="breadcrumb is-small is-white" aria-label="breadcrumbs">
    <ul>
        <li>
            <a asp-area="Lms"
               asp-controller="Schools"
               asp-action="index"><strong>Schools</strong></a>
        </li>
        <li class="is-active"><a href="#" class="has-text-white" aria-current="page"><strong>Index</strong></a></li>
    </ul>
</div>

<!-- Top Level -->
<div class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-white">
                <strong>School's List</strong>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
        <div class="buttons has-addons is-centered">
            <a class="button is-success" asp-area="Lms" asp-controller="Schools" asp-action="Upsert">Create School</a>
        </div>
    </div>
</div>



<div class="columns is-multiline">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="column is-half">

                <div class="notification is-white-bis px-4">
                    <p class="title is-4 px-1 py-1 my-0"><strong>Name:</strong> @item.SchoolName</p>
                    <p class="subtitle px-1 py-1 my-0"><strong>ID:</strong> @item.SchoolID</p>
                    <p class="subtitle px-1 py-1 my-0"><strong>Phone:</strong> @item.PhoneNumber</p>

                    <p class="subtitle px-1 py-1 my-0 has-background-@(item.isauthorize=="Authorized" ? "success": "danger")"><strong>Status:</strong> @item.isauthorize</p>

                    @if (item.isauthorize != "Authorized")
                    {
                        <p class="subtitle px-1 pt-3 pb-1 mb-0 mt-3">
                            We are reviewing your open school request. We will contact with you for verification. Once your request approve you can enjoy our school service.
                        </p>
                    }

                    <div class="content mt-5">
                        <div class="columns is-12 is-multiline">
                            @if (item.isauthorize == "Authorized")
                            {
                                <div class="column">
                                    <a href="/Lms/SchoolNotices/Create/@item.SchoolID" class="button is-dark is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Notice</span>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="/Lms/ClassRooms/Create/@item.SchoolID" class="button is-dark is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Class Room</span>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="/Lms/Subjects/Create/@item.SchoolID" class="button is-dark is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Subjects</span>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="/Lms/Schools/Upsert/@item.SchoolID" class="button is-dark is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span>School Edit</span>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="/Lms/Holidays/Create/@item.SchoolID" class="button is-dark is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Holiday</span>
                                    </a>
                                </div>
                                <div class="column">
                                    <a href="/Lms/Teacher/Create/@item.SchoolID" class="button is-dark is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Teacher</span>
                                    </a>
                                </div>

                            }
                            @if (item.isauthorize != "Authorized")
                            {<div class="column center-column">
                                    <a onclick=Delete("/Lms/Schools/Delete/@item.SchoolID") class="button is-danger is-fullwidth">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                        <span>Delete</span>
                                    </a>
                                </div>
                            }
                        </div>



                    </div>
                </div>

            </div>
        }
    }
</div>



<script>
    function Delete(url) {
        swal({
            title: "Are you sure you want to Delete?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "DELETE",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            location.reload(true);
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>
