@model Titan.Models.Subject

@{
    var title = "Create Subjects";
    var rd = false;
}

<div class="breadcrumb is-small is-white" aria-label="breadcrumbs">
    <ul>
        <li>
            <a asp-area="Lms"
               asp-controller="Subjects"
               asp-action="index"><strong>Subjects</strong></a>
        </li>
        <li class="is-active"><a href="#" class="has-text-white" aria-current="page"><strong>Create</strong></a></li>
    </ul>
</div>
<!-- Main container -->
<div class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-white">
                @if (Model.SubjectID != 0)
                {
                    //edit
                    title = "Edit Page";
                }
                <strong>@title</strong>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">

    </div>
</div>

<div class="columns is-multiline">
    <div class="column is-9">
        <form method="post" autocomplete="off" asp-route-returnUrl="">
            <input type="hidden" asp-for="SubjectID" />
            <input type="hidden" asp-for="SchoolID" />
            @if (Model.SubjectID != 0)
            {
                rd = true;
            }

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label has-text-white" asp-for="SubjectName">Subject Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="text" placeholder="Class Room Name" asp-for="SubjectName" readonly="@rd">
                            <span asp-validation-for="SubjectName" class="help is-danger"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label has-text-white"></label>
                </div>
                <div class="field-body">
                    <div class="field is-grouped">
                        @if (Model.SubjectID != 0)
                        {
                            <div class="control">
                                <button type="submit" class="button is-link" asp-route-id="@Model.SubjectID">Update</button>
                            </div> }
                        else
                        {
                            <div class="control">
                                <button type="submit" class="button is-link">Create</button>
                            </div>}
                        <div class="control">
                            <button class="button is-link is-light" asp-area="Lms" asp-controller="Subjects" asp-action="Index">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



