@{ Layout = "~/Views/Shared/_LayoutIronman.cshtml"; }



<div class="breadcrumb is-small is-white" aria-label="breadcrumbs">
    <ul>
        <li><a asp-area="Ironman"
                   asp-controller="Dashboard"
                   asp-action="index"><strong>Dashboard</strong></a></li>
        <li class="is-active"><a href="#" class="has-text-white" aria-current="page"><strong>Index</strong></a></li>
    </ul>
</div>
<!-- Main container -->
<div class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <div class="title has-text-white">
                <strong>Dashboard</strong>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      
    </div>
</div>

